doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/style/base.css', type='text/css')
    link(rel='stylesheet', href='/style/style1.css', type='text/css')
    script(language='javascript', src='/js/jquery.js')
    script(language='javascript', src='/js/js.js')
  body
    block content
